<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Dashboard</title>
    <!-- plugins:css -->
    <link
      rel="stylesheet"
      href="assets/vendors/mdi/css/materialdesignicons.min.css"
    />
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css" />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link
      rel="stylesheet"
      href="assets/vendors/jvectormap/jquery-jvectormap.css"
    />
    <link
      rel="stylesheet"
      href="assets/vendors/flag-icon-css/css/flag-icon.min.css"
    />
    <link
      rel="stylesheet"
      href="assets/vendors/owl-carousel-2/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="assets/vendors/owl-carousel-2/owl.theme.default.min.css"
    />
    <!-- End Plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/myStyle.css" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="assets/images/akebono.png" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div
          class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top"
        >
          <a class="sidebar-brand brand-logo" href="index.html"
            ><img
              style="width: 180px; height: 40px"
              src="assets/images/akebono.png"
              alt="logo"
          /></a>
          <a class="sidebar-brand brand-logo-mini" href="index.html"
            ><h1>A</h1></a
          >
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img
                    class="img-xs rounded-circle"
                    src="assets/images/faces/face15.jpg"
                    alt=""
                  />
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal">Anhari</h5>
                  <span>765436</span>
                </div>
              </div>
              <a href="#" id="profile-dropdown" data-toggle="dropdown"
                ><i class="mdi mdi-dots-vertical"></i
              ></a>
              <div
                class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list"
                aria-labelledby="profile-dropdown"
              >
                <a href="index.html" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-settings text-primary"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">
                      Sign Out
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Energy Monitoring</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="dashboard.html">
              <span class="menu-icon">
                <i class="mdi mdi-view-dashboard"></i>
              </span>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="monitoring-energy.html">
              <span class="menu-icon">
                <i class="mdi mdi-monitor"></i>
              </span>
              <span class="menu-title">Monitoring</span>
            </a>
          </li>

          <li class="nav-item nav-category">
            <span class="nav-link">Lighting Remote Control</span>
          </li>
          <li class="nav-item menu-items">
            <a
              class="nav-link"
              data-toggle="collapse"
              href="#ui-lighting"
              aria-expanded="false"
              aria-controls="ui-lighting"
            >
              <span class="menu-icon">
                <i class="mdi mdi-timer"></i>
              </span>
              <span class="menu-title">Schedule Setting </span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-lighting">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="schedule-ac.html"
                    >Air Conditioner</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="schedule-lighting.html">Lighting</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="setting-ac.html">
              <span class="menu-icon">
                <i class="mdi mdi-air-conditioner"></i>
              </span>
              <span class="menu-title">Air Conditioner</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="setting-lighting.html">
              <span class="menu-icon">
                <i class="mdi mdi-white-balance-incandescent"></i>
              </span>
              <span class="menu-title">Lighting</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="logs.html">
              <span class="menu-icon">
                <i class="mdi mdi-history"></i>
              </span>
              <span class="menu-title">Logs</span>
            </a>
          </li>
          <!-- <li class="nav-item menu-items">
            <a class="nav-link" href="report.html">
              <span class="menu-icon">
                <i class="mdi mdi-library-books"></i>
              </span>
              <span class="menu-title">Report</span>
            </a>
          </li> -->
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div
            class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center"
          >
            <a class="navbar-brand brand-logo-mini" href="index.html"
              ><img src="assets/images/logo-mini.svg" alt="logo"
            /></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button
              class="navbar-toggler navbar-toggler align-self-center"
              type="button"
              data-toggle="minimize"
            >
              <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav w-100">
              <li class="nav-item w-100">
                <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Search"
                  />
                </form>
              </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">
              <li class="nav-item dropdown">
                <a
                  class="nav-link"
                  id="profileDropdown"
                  href="#"
                  data-toggle="dropdown"
                >
                  <div class="navbar-profile">
                    <p class="mb-0 d-none d-sm-block navbar-profile-name">
                      PT. Akebono Astra Brake Indonesia
                    </p>
                  </div>
                </a>
              </li>
            </ul>
            <button
              class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
              type="button"
              data-toggle="offcanvas"
            >
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <!-- MY CONTENT -->
            <div class="page-header">
              <h3 class="page-title">Power Monitoring</h3>
            </div>
            <div class="row">
              <div class="col-lg-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <div class="row icons-list">
                      <div class="col-sm-6 col-md-4 col-lg-3 hover-col">
                        <i class="mdi mdi-access-point-network"></i> Power House
                        PH 1
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3 hover-col">
                        <i class="mdi mdi-home"></i> Power House PH 3
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3 hover-col">
                        <i class="mdi mdi-home-modern"></i> Assy
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3 hover-col">
                        <i class="mdi mdi mdi-home-variant"></i> Office
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3 hover-col">
                        <i class="mdi mdi-home-map-marker"></i>
                        Distribution Sel 1
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3 hover-col">
                        <i class="mdi mdi mdi-watermark"></i> Plating 6
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3 hover-col">
                        <i class="mdi mdi-view-stream"></i> Distribution P3
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="page-header">
              <h3 class="page-title">Machines</h3>
            </div>
            <div class="row">
              <div class="col-lg-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <div class="row icons-list">
                      <div class="col-sm-6 col-md-4 col-lg-3 hover-col">
                        <i class="mdi mdi-webhook"></i> Treatment
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3 hover-col">
                        <i class="mdi mdi-window-restore"></i> Plating 6
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3 hover-col">
                        <i class="mdi mdi-xaml"></i> Grinding Rowland
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3 hover-col">
                        <i class="mdi mdi-oil-temperature"></i> HPD
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="page-header">
              <h3 class="page-title">Other</h3>
            </div>
            <div class="row">
              <div class="col-lg-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <div class="row icons-list">
                      <div class="col-sm-6 col-md-4 col-lg-3 hover-col">
                        <i class="mdi mdi-water-pump"></i> Water
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3 hover-col">
                        <i class="mdi mdi-oil-temperature"></i> Compressor
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div
              class="d-sm-flex justify-content-center justify-content-sm-between"
            >
              <span
                class="text-muted d-block text-center text-sm-left d-sm-inline-block"
                >Copyright © AAIJ 2022</span
              >
              <span
                class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"
              >
                <a
                  href="https://www.bootstrapdash.com/bootstrap-admin-template/"
                  target="_blank"
                  >SYSDEV AAIJ</a
                >
              </span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <script src="assets/vendors/chart.js/Chart.min.js"></script>
    <script src="assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- inject:js -->

    <script src="assets/js/off-canvas.js"></script>
    <script src="assets/js/hoverable-collapse.js"></script>
    <script src="assets/js/misc.js"></script>
    <script src="assets/js/settings.js"></script>
    <script src="assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->

    <!-- End custom js for this page -->
  </body>
</html>
<script>
  function goChartPower() {
    location.href = "chart-power.html";
  }
  function goChartWater() {
    location.href = "chart-water.html";
  }
</script>
