
.popupfailed{

    background-color: #ffffff;
    width: 300px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins",sans-serif;
    display: none; 
    text-align: center;
}
.popupfailed button{
    display: block;
    margin:  0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #ffffff;
		background: #03549a;
		border-radius: 100%;
		width: 40px;
		height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}
.popupfailed h2{
	margin-top: 10px;
}
.popupfailed p{
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
}