/*=============== SKEUOMORPHISM TOGGLE SWITCH ===============*/
/*=============== COLORS ===============*/
:root {
  --indicator-color: hsl(104, 96%, 50%);
  --body-color: hsl(233, 12%, 14%);
  --container-color: rgb(21, 20, 20);
  --container-color-light: hsl(0, 1%, 18%);
}

.skeuo__switch {
  height: 30px;
  background-color: var(--container-color);
  padding: 0 0.5rem;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.skeuo__input {
  display: none;
}

.skeuo__rail {
  position: relative;
  width: 50px;
  height: 15px;
  background-color: var(--container-color-light);
  border-radius: 3rem;
}

.skeuo__circle {
  display: block;
  width: 20px;
  height: 20px;
  background: radial-gradient(
    circle at 33%,
    #747475 0%,
    #4d4e4f 50%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2;
  transition: transform 0.4s;
}

.skeuo__indicator {
  width: 15px;
  height: 15px;
  background-color: var(--container-color-light);
  border-radius: 50%;
  margin-left: 0.5rem;
  transition: 0.4s;
}

/* Toggle animation effects */
.skeuo__input:checked ~ .skeuo__rail .skeuo__circle {
  transform: translate(30px, -50%);
}

.skeuo__input:checked ~ .skeuo__indicator {
  background-color: var(--indicator-color);
}
.skeuo__input ~ .skeuo__indicator {
  background-color: rgb(170, 7, 7);
}
